body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: white;
}

h1 {
  margin-top: 20px;
}

.buttons button {
  margin: 10px;
  padding: 10px 20px;
  background: #222;
  color: white;
  border: none;
  cursor: pointer;
}

.buttons button:hover {
  background: #444;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 60%;
}

th, td {
  border: 1px solid white;
  padding: 8px;
}
